Thumbs.db
.DS_Store
.gradle
build/
#build/classes/
#build/gson-classes/
#build/tmp/
#build/resources/
#build/springloaded/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
gradle/
gradlew
gradlew.bat
out/
src/main/webapp/libs/
src/main/webapp/bower_components/
/bin/
*.war
*.original
lib
*.out